# Игнорирование виртуальных окружений и зависимостей
venv/
env/
__pycache__/
*.pyc
*.pyo

# Игнорирование кэша редакторов
.vscode/
.idea/

# Игнорирование временных файлов и логов
*.log
*.tmp
*.swp

# Игнорирование секретных данных
secret_key.txt
sensitive_data.json

# Игнорирование файлов, созданных разными инструментами
.DS_Store
Thumbs.db

# Игнорирование файлов, сгенерированных сборщиками статики
staticfiles/
